page-login {
  .bg-image{
    background-image: url('../assets/imgs/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  ion-footer{
    bottom: 20px;
    button.login{
      color: #6949FF;
      border-radius: 12px;
      font-family: "Work Sans";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 24px;
      text-align: center;
      background-color: white;
      height: 80px;
      width: 208px;
      box-shadow: 0 16px 24px 0 rgba(42,70,104,0.48);
    }
  }
}
