.page-home {
  background-color: #dcebfd;

  .header {
    font-size: 18pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 0 10pt;

    img {
      height: 28pt;
      width: 28pt;
    }
  }

  ion-card {
    border-radius: 12pt;
    border: 1pt solid map-get($colors, light-blue-gradient);

    ion-card-header {
      font-size: 16pt;
      font-weight: 600;
      height: 40pt;
      border-bottom: 3px solid map-get($colors, light-blue-gradient);;
    }

    ion-item {
      border-color: #fff;
      padding: 7pt;

      &.stripped {
        background: repeating-linear-gradient(45deg, #f6fafc, #f6fafc 15px, #fff 15px, #fff 30px);
      }

      ion-avatar {
        margin-left: 5pt;
      }

      h2 {
        font-size: 16pt;
        text-transform: capitalize;
      }
    }
  }

  span {
    line-height: 36px;
    margin-right: 6px;
  }

  button {
    height: 56pt;
    width: 94%;
    -webkit-box-shadow: 0 6px 0 map-get($colors, purple-button), 0 3px 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 6px 0 map-get($colors, purple-button), 0 3px 15px rgba(0, 0, 0, .4);
    box-shadow: 0 6px 0 map-get($colors, purple-button), 0 3px 15px rgba(0, 0, 0, .4);
    margin: auto;
    font-size: 20px;
    display: block;
    background: map-get($colors, backgroung-purple-button);
    letter-spacing: .8px;
    color: white;
    padding: 1em 2em;
    border: 0;
    border-radius: 12px;
    line-height: 24px;
  }

  .clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;

    /** 3D Block Effect **/
    -webkit-box-shadow: 0 6px 0 map-get($colors, purple-button), 0 3px 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 6px 0 map-get($colors, purple-button), 0 3px 15px rgba(0, 0, 0, .4);
    box-shadow: 0 6px 0 map-get($colors, purple-button), 0 3px 15px rgba(0, 0, 0, .4);

    &:active {
      /** Remove 3D Block Effect on Click **/
      box-shadow: none;
      top: 10px;
      background: map-get($colors, backgroung-purple-button);
      margin-bottom: 0;
    }

    &:hover {
      opacity: 1;
      background: map-get($colors, backgroung-purple-button);
    }

    &:active,
    &:focus {
      outline: 0;
      background: map-get($colors, backgroung-purple-button);
    }
  }

  .bottom-row {
    margin: 10;
  }
}
