.page-home {
  background-color: #DCEBFD;
  .header {
    font-size: 18pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 0 10pt;
    img {
      height: 28pt;
      width: 28pt;
    }
  }
  ion-item{
    border-color: white;
    &.stripped{
      background: repeating-linear-gradient(45deg, #F6FAFC, #F6FAFC 15px, white 15px, white 30px);
    }
  }
}
