<ion-content class="page-home">
  <ion-grid>
    <ion-row justify-content-between class="header">
      <ion-col col-6>
        <span>Aloha!</span>
      </ion-col>
      <ion-col col-6 text-right>
        <ion-row float-end (click)="navigateBuySell()">
          <span>{{karma$ | async}}</span>
          <img src="../../assets/imgs/coin.png"/>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-card *ngIf="winners$ | async; let winners">
      <ion-card-header>
        Almuerzan hoy ({{winners.length}})
      </ion-card-header>
      <ion-list *ngFor="let winner of winners; let i = index" no-lines>
        <ion-item *ngIf='i%2==0'>
          <ion-avatar item-start>
            <img src="../../assets/imgs/coin.png">
          </ion-avatar>
          <h2>{{winner}}</h2>
        </ion-item>
        <ion-item *ngIf='i%2!=0' class='stripped'>
          <ion-avatar item-start>
            <img src="../../assets/imgs/coin.png">
          </ion-avatar>
          <h2>{{winner}}</h2>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-row class='bottom-row'>
      <button (click)="willLunch()" class="clicky button-block" ion-button block>
        ¿Almuerzas mañana?
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
