<ion-content class="page-home">
  <ion-grid>
    <ion-row justify-content-between class="header">
      <ion-col class="greet" style="line-height: 36px;">
        <span>Aloha, bjobim!</span>
      </ion-col>
      <ion-col col-4 text-right>
        <ion-row float-end>
          <span style="line-height: 36px;margin-right: 9pt;">{{karma}}</span>
          <img src="../../assets/imgs/coin.png"/>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-card style="border-radius: 12pt;border: 1pt solid #DCEBFD">
      <ion-card-header style="font-size: 16pt; font-weight: 600; height: 40pt; border-bottom:3px solid #DCEBFD;">
        Almuerzan hoy ({{lunchersAmount}})
      </ion-card-header>
      <ion-list *ngFor="let luncher of lunchers; let i = index" no-lines>
        <ion-item style="padding: 7pt;" *ngIf='i%2==0'>
          <ion-avatar item-start style='margin-left: 5pt;'>
            <img src="../../assets/imgs/coin.png">
          </ion-avatar>
          <h2 text-capitalize style="font-size: 16pt;">{{luncher}}</h2>
        </ion-item>
        <ion-item style="padding: 7pt;" *ngIf='i%2!=0' class='stripped'>
          <ion-avatar item-start style='margin-left: 5pt;'>
            <img src="../../assets/imgs/coin.png">
          </ion-avatar>
          <h2 text-capitalize style="font-size: 16pt;">{{luncher}}</h2>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-row padding>
      <button (click)="willLunch()" id="willLunchButton" class="clicky" #willLunchButton ion-button block style="font-size: 16pt; padding: 19pt 68pt;background-color: #6949FF;border-radius: 12pt;">
        ¿Almuerzas mañana?
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
